<p id="notice"><%= notice %></p>

<div class = "container">

<h1>Trung's blog</h1>
<h3>this is my first rails application, haha</h3>
<%= render @articles %>



<br>

<%= link_to 'New Article', new_article_path %>

</div>


